**CHAMPIONS LEAGUE DATA UNSUPERVISED LEARNING**

For soccer fans. Goals, Assists, Attack, Defence, Passing, Field Control, GK Data of the season 2021-22.

The UEFA Champions League is an annual club football competition organised by the Union of European Football Associations and contested by top-division European clubs, deciding the competition winners through a round robin group stage to qualify for a double-legged knockout format, and a single leg final.

In [ ]:
import pandas as pd
import numpy as np

c:\Users\theod\AppData\Local\Programs\Python\Python312\python.exe

**Step1: Collect Data**

Here we start by reading the providing csv files which we will later prepare

In [3]:
attack_ds = pd.read_csv('../data/attacking.csv')
attempts_ds = pd.read_csv('../data/attempts.csv')
defend_ds = pd.read_csv('../data/defending.csv')
disciplinary_ds = pd.read_csv('../data/disciplinary.csv')
distributon_ds = pd.read_csv('../data/distributon.csv')
goalkeeping_ds = pd.read_csv('../data/goalkeeping.csv')
goals_ds = pd.read_csv('../data/goals.csv')
key_ds = pd.read_csv('../data/key_stats.csv')

In [4]:
attack_ds.info()
attempts_ds.info()
defend_ds.info()
disciplinary_ds.info()
distributon_ds.info()
goalkeeping_ds.info()
goals_ds.info()
key_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   serial        176 non-null    int64
 1   player_name   176 non-null    object
 2   club          176 non-null    object
 3   position      176 non-null    object
 4   assists       176 non-null    int64
 5   corner_taken  176 non-null    int64
 6   offsides      176 non-null    int64
 7   dribbles      176 non-null    int64
 8   match_played  176 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   serial          546 non-null    int64
 1   player_name     546 non-null    object
 2   club            546 non-null    object
 3   position        546 non-null    object
 4   total_attempts  546 non-null    int64
 5   on_target       546 non-null    int64
 6   off_target      546 non-null    int64
 7   blocked         546 non-null    int64
 8   match_played    546 non-null    int64
dtypes: int64(6), object(3)
memory usage: 38.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial               627 non-null    int64
 1   player_name          627 non-null    object
 2   club                 627 non-null    object
 3   position             627 non-null    object
 4   balls_recoverd       627 non-null    int64
 5   tackles              627 non-null    int64
 6   t_won                627 non-null    int64
 7   t_lost               627 non-null    int64
 8   clearance_attempted  627 non-null    int64
 9   match_played         627 non-null    int64
dtypes: int64(7), object(3)
memory usage: 49.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   serial           584 non-null    int64
 1   player_name      584 non-null    object
 2   club             584 non-null    object
 3   position         584 non-null    object
 4   fouls_committed  584 non-null    int64
 5   fouls_suffered   584 non-null    int64
 6   red              584 non-null    int64
 7   yellow           584 non-null    int64
 8   minutes_played   584 non-null    int64
 9   match_played     584 non-null    int64
dtypes: int64(7), object(3)
memory usage: 45.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 608 entries, 0 to 607
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   serial           608 non-null    int64
 1   player_name      608 non-null    object
 2   club             608 non-null    object
 3   position         608 non-null    object
 4   pass_accuracy    608 non-null    float64
 5   pass_attempted   608 non-null    int64
 6   pass_completed   608 non-null    int64
 7   cross_accuracy   608 non-null    int64
 8   cross_attempted  608 non-null    int64
 9   cross_complted   608 non-null    int64
 10  freekicks_taken  608 non-null    int64
 11  match_played     608 non-null    int64
dtypes: float64(1), int64(8), object(3)
memory usage: 57.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   serial           53 non-null     int64
 1   player_name      53 non-null     object
 2   club             53 non-null     object
 3   position         53 non-null     object
 4   saved            53 non-null     int64
 5   conceded         53 non-null     int64
 6   saved_penalties  53 non-null     int64
 7   cleansheets      53 non-null     int64
 8   punches made     53 non-null     int64
 9   match_played     53 non-null     int64
dtypes: int64(7), object(3)
memory usage: 4.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   serial         183 non-null    int64
 1   player_name    183 non-null    object
 2   club           183 non-null    object
 3   position       183 non-null    object
 4   goals          183 non-null    int64
 5   right_foot     183 non-null    int64
 6   left_foot      183 non-null    int64
 7   headers        183 non-null    int64
 8   others         183 non-null    int64
 9   inside_area    183 non-null    int64
 10  outside_areas  183 non-null    int64
 11  penalties      183 non-null    int64
 12  match_played   183 non-null    int64
dtypes: int64(10), object(3)
memory usage: 18.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747 entries, 0 to 746
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   player_name       747 non-null    object
 1   club              747 non-null    object
 2   position          747 non-null    object
 3   minutes_played    747 non-null    int64
 4   match_played      747 non-null    int64
 5   goals             747 non-null    int64
 6   assists           747 non-null    int64
 7   distance_covered  747 non-null    object
dtypes: int64(4), object(4)
memory usage: 46.8+ KB

**Merging the data sets**

In [5]:
df = attack_ds.merge(attempts_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(defend_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(disciplinary_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(distributon_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(goalkeeping_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(goals_ds, on=['serial','player_name','club','position', 'match_played'], how='outer')
df = df.merge(key_ds, on=['player_name','club','position', 'match_played', 'goals', 'assists', 'minutes_played'], how='outer')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3517 entries, 0 to 3516
Data columns (total 44 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   serial               2770 non-null   float64
 1   player_name          3517 non-null   object
 2   club                 3517 non-null   object
 3   position             3517 non-null   object
 4   assists              923 non-null    float64
 5   corner_taken         176 non-null    float64
 6   offsides             176 non-null    float64
 7   dribbles             176 non-null    float64
 8   match_played         3517 non-null   int64
 9   total_attempts       546 non-null    float64
 10  on_target            546 non-null    float64
 11  off_target           546 non-null    float64
 12  blocked              546 non-null    float64
 13  balls_recoverd       627 non-null    float64
 14  tackles              627 non-null    float64
 15  t_won                627 non-null    float64
 16  t_lost               627 non-null    float64
 17  clearance_attempted  627 non-null    float64
 18  fouls_committed      584 non-null    float64
 19  fouls_suffered       584 non-null    float64
 20  red                  584 non-null    float64
 21  yellow               584 non-null    float64
 22  minutes_played       1331 non-null   float64
 23  pass_accuracy        608 non-null    float64
 24  pass_attempted       608 non-null    float64
 25  pass_completed       608 non-null    float64
 26  cross_accuracy       608 non-null    float64
 27  cross_attempted      608 non-null    float64
 28  cross_complted       608 non-null    float64
 29  freekicks_taken      608 non-null    float64
 30  saved                53 non-null     float64
 31  conceded             53 non-null     float64
 32  saved_penalties      53 non-null     float64
 33  cleansheets          53 non-null     float64
 34  punches made         53 non-null     float64
 35  goals                930 non-null    float64
 36  right_foot           183 non-null    float64
 37  left_foot            183 non-null    float64
 38  headers              183 non-null    float64
 39  others               183 non-null    float64
 40  inside_area          183 non-null    float64
 41  outside_areas        183 non-null    float64
 42  penalties            183 non-null    float64
 43  distance_covered     747 non-null    object
dtypes: float64(39), int64(1), object(4)
memory usage: 1.2+ MB

,serial,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played,total_attempts,...,punches made,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,distance_covered
0,NaN,Aaronson,Salzburg,Midfielder,2.0,NaN,NaN,NaN,8,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.5
1,24.0,Aaronson,Salzburg,Midfielder,2.0,4.0,5.0,9.0,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,326.0,Aaronson,Salzburg,Midfielder,NaN,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,98.0,Aaronson,Salzburg,Midfielder,NaN,NaN,NaN,NaN,8,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,226.0,Aaronson,Salzburg,Midfielder,NaN,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3512,73.0,Škriniar,Inter,Defender,NaN,NaN,NaN,NaN,8,NaN,...,NaN,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
3513,201.0,Škriniar,Inter,Defender,NaN,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3514,61.0,Škriniar,Inter,Defender,NaN,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3515,62.0,Škriniar,Inter,Defender,NaN,NaN,NaN,NaN,8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3516,80.0,Škriniar,Inter,Defender,NaN,NaN,NaN,NaN,8,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**DATA ANALYSIS**

We will perform some qualitative and quantitative analysis on the resulting data set

In [6]:
print(df.columns)
print(df.shape)
print(df.isna().sum())

Index(['serial', 'player_name', 'club', 'position', 'assists', 'corner_taken',
       'offsides', 'dribbles', 'match_played', 'total_attempts', 'on_target',
       'off_target', 'blocked', 'balls_recoverd', 'tackles', 't_won', 't_lost',
       'clearance_attempted', 'fouls_committed', 'fouls_suffered', 'red',
       'yellow', 'minutes_played', 'pass_accuracy', 'pass_attempted',
       'pass_completed', 'cross_accuracy', 'cross_attempted', 'cross_complted',
       'freekicks_taken', 'saved', 'conceded', 'saved_penalties',
       'cleansheets', 'punches made', 'goals', 'right_foot', 'left_foot',
       'headers', 'others', 'inside_area', 'outside_areas', 'penalties',
       'distance_covered'],
      dtype='object')
(3517, 44)
serial                  747
player_name               0
club                      0
position                  0
assists                2594
corner_taken           3341
offsides               3341
dribbles               3341
match_played              0
total_attempts         2971
on_target              2971
off_target             2971
blocked                2971
balls_recoverd         2890
tackles                2890
t_won                  2890
t_lost                 2890
clearance_attempted    2890
fouls_committed        2933
fouls_suffered         2933
red                    2933
yellow                 2933
minutes_played         2186
pass_accuracy          2909
pass_attempted         2909
pass_completed         2909
cross_accuracy         2909
cross_attempted        2909
cross_complted         2909
freekicks_taken        2909
saved                  3464
conceded               3464
saved_penalties        3464
cleansheets            3464
punches made           3464
goals                  2587
right_foot             3334
left_foot              3334
headers                3334
others                 3334
inside_area            3334
outside_areas          3334
penalties              3334
distance_covered       2770
dtype: int64

In [7]:

# --- Détection de colonnes identiques ---
dup_cols = []
for i in range(len(df.columns)):
    for j in range(i + 1, len(df.columns)):
        if df.iloc[:, i].equals(df.iloc[:, j]):
            dup_cols.append((df.columns[i], df.columns[j]))

print("Colonnes identiques :", dup_cols)

# --- Gestion des colonnes avec suffixes (_x / _y) ---
dup_suffix = [col for col in df.columns if col.endswith(('_x', '_y'))]
print("Colonnes avec suffixe :", dup_suffix)

# Si tu veux garder les versions "_x" et supprimer "_y" :
df = df.loc[:, ~df.columns.str.endswith('_y')]
df.columns = df.columns.str.replace('_x', '', regex=False)

Colonnes identiques : []
Colonnes avec suffixe : []